

<div class="col-xs-10 col-xs-push-1">
     
    
    <div class="box box-solid">
        
        <div class="box-header">
            <div class="box-widget text-right"><a href="#/" ng-href="#/" class="btn btn-default">Torna indietro</a>
</div>
            <h3>{{messaggio.subject}}</h3>
            <p>
                Mittente {{messaggio.user}}
            </p>
        </div>
        <div class="box-body">
            
             <div class="testo">
                {{messaggio.message}}
            </div>
            
        </div>
        
    </div>
    
   
    
   
    
</div>

    