<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Winnub Email Theme 1</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="header">
            <h1>[info_azienda]</h1>
        </div>
        <div class="body">
            
            
            Gentilissimo [nome_cliente], riceve la nostra email per avvisarla che il preventivo da voi richiesto risulta già pronto.
            Può visionare i dettagli della richiesta presso il seguente link [url_quote]
            
            
        </div>
        <div class="footer">
            <p>Questa email è stata inviata dal sistema winnub.com</p>
        </div>
    </body>
</html>
